<head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<footer>
    <p>Hecho con ❤️ por @bruno7even</p> <span>© Todos los derechos reservados | E.E.T. Nº5 2024</span>
    
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4e61ee30bd.js" crossorigin="anonymous"></script>
<script src="/javascripts/filterBook.js"></script>
