<header>
    <navbar class="navbar">
        <div class="search">
             <form action="#" method="GET">
                <input type="search" placeholder="Buscar">
                <button type="submit">Buscar</button>
             </form>
        </div>
        <div class="login">
            <a href="#">Iniciar sesión</a>
        </div>
    </navbar>
</header>