<header>
    <navbar class="navbar">
        <div class="search">
            <form action="/resultado" method="GET">
                <input type="search" placeholder="Buscar" name="Buscar" required>
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div class="login">
            <a href="/">Inicio</a>
            <% if (isLoggedIn) { %>
                <a href="/book/book-create">Nuevo Libro</a>
                <a href="/user/logout">Cerrar Sesión</a>
            <% } else { %>
                <a href="/user/login">Iniciar sesión</a>
            <% } %>
        </div>
    </navbar>
</header>
