<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/formCreate.css">
  <title>Importar Libro - TEC 5</title>
</head>
<body>

  <%- include ("./partials/navbar") %>

  <div class="formulario" style="margin-top: 50px;"> <!-- Añadimos el margen superior directamente aquí -->
      <h2>Subir nuevo libro</h2>
      <form class="mi-formulario" action="/book/book-create" method="post" enctype="multipart/form-data">
          <input type="text" id="nombre" name="nombre" class="mi-input" placeholder="Nombre">

          <textarea id="descripcion" name="descripcion" class="mi-textarea" required placeholder="Descripción"></textarea>

          <input type="file" id="archivo" name="archivo" accept=".pdf" class="mi-input" required>

          <select id="genero" name="genero" class="mi-input" required>
              <option value="" disabled selected>Selecciona un género</option>
              <option value="Historia">Historia</option>
              <option value="Ciencias">Ciencias</option>
              <option value="Matematica">Matematica</option>
              <option value="Ensayo">Ensayo</option>
              <option value="Biografía">Biografía</option>
              <option value="Documentación">Documentación</option>
              <option value="Informática">Informática</option>
              <option value="Novela">Novela</option>
              <option value="Poesia">Poesia</option>
              <option value="Literatura">Literatura</option>
              <option value="Otros">Otros</option>
          </select>

          <div class="botones">
              <button type="submit" class="mi-btn">Subir libro</button>
              <button type="button" id="eliminar" class="mi-btn">Eliminar</button>
          </div>
      </form>
  </div>

  <%- include ("./partials/footer") %>

</body>
</html>
