<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bookDetail.css">
    <title>Detalle de Libro - TEC 5</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

    <main>
        <div class="detalle-libro">
            <img src="/images/libro.jpg" alt="Portada del libro">
            <h2><%= libroDetalle.title %></h2>
            <p class="descripcion"><%= libroDetalle.description %></p>
            <a href="<%= libroDetalle.link %>" download>Descargar PDF</a>
          </div>
    </main>
    
</body>
</html>