<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Navbar con Search y Login</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

   <main>
    <div class="card-container">
        <a href="#" class="card">
          <img src="/images/libro.jpg" alt="Imagen 1">
          <h3>Título 1</h3>
          <p>Descripción 1</p>
        </a>
      
        <a href="#" class="card">
          <img src="/images/libro.jpg" alt="Imagen 2">
          <h3>Título 2</h3>
          <p>Descripción 2</p>
        </a>
      
        <a href="#" class="card">
          <img src="/images/libro.jpg" alt="Imagen 3">
          <h3>Título 3</h3>
          <p>Descripción 3</p>
        </a>
      
        <a href="#" class="card">
          <img src="/images/libro.jpg" alt="Imagen 4">
          <h3>Título 4</h3>
          <p>Descripción 4</p>
        </a>
      </div>
   </main>

</body>
</html>
