<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Login - TEC 5</title>
</head>
<body>

  <%- include ("./partials/navbar") %>

  <main>
  <div class="formulario-login">
      <h2>Iniciar Sesión</h2>
      <form action="/user/login" method="post">
        
        <label for="userUsername">Usuario:</label>
        <input type="text" id="userUsername" name="userUsername" required>
    
        <label for="userPassword">Contraseña:</label>
        <input type="password" id="userPassword" name="userPassword" required>
    
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>
  </main>

  <%- include ("./partials/footer") %>

</body>

</html>
