<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="shortcut icon" href="/images/libroportada.jpg" type="image/x-icon">
  <title>Login - TEC 5</title>
</head>
<body>

  <%- include ("./partials/navbar") %>

  <main>
  <div class="formulario-login">
      <h2>¡Bienvenido de nuevo!</h2>
      <form action="/user/login" method="post">
        
        <input type="text" id="userUsername" name="userUsername" placeholder="Usuario" required>
    
        <input type="password" id="userPassword" name="userPassword" placeholder="Contraseña" required>
    
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>
  </main>

  <%- include ("./partials/footer") %>

</body>

</html>
