main {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .detalle-libro {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .detalle-libro img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .detalle-libro h2 {
    color: #3498db;
  }
  
  .detalle-libro .descripcion {
    margin-top: 10px;
  }
  
  .detalle-libro .descargar {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .detalle-libro .descargar:hover {
    background-color: #2980b9;
  }
  