main {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #22252f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .formulario-login {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #181b28;
    border: 4px solid #3b9187;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    text-align: center;
  }
  
  .formulario-login h2 {
    color: white;
  }
  
  .formulario-login form {
    display: flex;
    flex-direction: column;
  }
  
  .formulario-login input {
    background-color: #22252f;
    margin: 10px;
    padding: 10px;
    border: 3px solid #3b9187;
    border-radius: 10px;
    outline: none;
    color: white;
  }
  
  .formulario-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 12px;
    background-color: #3b9187;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .formulario-login button:hover {
    background-color: #3b9187;
  }
  